/*=============== REUSABLE CSS CLASSES ===============*/
.container{
   max-width: 1120px;
   margin-inline: 1.5rem;
}

.grid{
   display: grid;
   gap: 1.5rem;
}

.section{
   padding-block: 5rem 1rem;

   &__title{
      text-align: center;
      font-size: var(--bigger-font-size);
      margin-bottom: 1rem;

      span{
         font-weight: var(--font-regular);
      }
   }
}

.main{
   overflow: hidden;
}
