/* Dark Theme */
/* Extracted from styles.css */

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
.dark-theme {
  --title-color: hsl(218, 48%, 95%);
  --text-color: hsl(218, 24%, 75%);
  --gray-color: hsl(218, 24%, 20%);
  --body-color: hsl(218, 24%, 8%);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme :is(.shadow-header, .scrollup) {
  box-shadow: 0 2px 16px hsla(218, 68%, 4%, .7);
}

.dark-theme .nav__menu {
  box-shadow: 0 4px 16px hsla(218, 68%, 4%, .7);
}

.dark-theme .prices__card {
  background-color: var(--white-color);
}

.dark-theme .prices__item {
  color: var(--gray-color);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(218, 8%, 12%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(218, 8%, 20%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(218, 8%, 30%);
}
