/* Gallery Section */
/* Extracted from styles.css */

/*=============== GALLERY ===============*/
.gallery__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-template-areas: "img-1 img-1"
    "img-2 img-3"
    "img-2 img-4";
}

.gallery__image {
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 8px 16px hsla(218, 94%, 45%, .1);
}

.gallery__image:nth-child(1) {
  grid-area: img-1;
}

.gallery__image:nth-child(2) {
  grid-area: img-2;
}

.gallery__image:nth-child(3) {
  grid-area: img-3;
}

.gallery__image:nth-child(4) {
  grid-area: img-4;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform .4s;
}

.gallery__img:hover {
  transform: scale(1.2);
}
