/* Contact Section */
/* Extracted from styles.css */

/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 1.5rem;
  padding-bottom: 1rem;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}

.contact__map {
  width: 320px;
  height: 280px;
  justify-self: center;
  box-shadow: 0 8px 16px hsla(218, 94%, 45%, .2);
  border-radius: 1.5rem;
  overflow: hidden;
}

.contact__description {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact__info {
  display: grid;
  row-gap: 1.5rem;
  justify-content: center;
  text-align: center;
}

.contact__icon {
  width: 48px;
  height: 48px;
  background-color: var(--first-color);
  color: var(--white-color);
  border: 4px solid var(--gray-color);
  border-radius: 1rem;
  display: grid;
  place-items: center;
  justify-self: center;
  font-size: 1.5rem;
  margin: 0 auto .5rem;
  transition: border-color .4s;
}

.contact__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.contact__address {
  font-style: initial;
}

.contact__social {
  display: flex;
  justify-content: center;
  column-gap: .75rem;
}

.contact__social-link {
  font-size: 1.5rem;
  color: var(--first-color);
  transition: transform .4s;
}

.contact__social-link:hover {
  transform: translateY(-.25rem);
}
