@import 'config/variables';
@import 'base/base';
@import 'theme/theme';
@import 'layout/layout';
@import 'components/header';
@import 'components/button';
@import 'components/home';
@import 'components/delivery';
@import 'components/about';
@import 'components/prices';
@import 'components/gallery';
@import 'components/contact';
@import 'components/chatbot';
@import 'components/footer';
@import 'components/scroll';
@import 'components/settings';
@import 'components/breakpoints';
