/*=============== CONTACT ===============*/
.contact{
   &__container{
      row-gap: 2rem;
      padding-bottom: 1.5rem;
   }
   &__map iframe{
      width: 100%;
      height: 100%;
   }
   &__map{
      width: 320px;
      height: 320px;
      justify-self: center;
      box-shadow: 0 8px 16px hsla(218, 94%, 45%, .2);
      border-radius: 1.5rem;
      overflow: hidden;
   }
   &__description{
      text-align: center;
      margin-bottom: 2rem;
   }
   &__info{
      display: grid;
      row-gap: 2rem;
      justify-content: center;
      text-align: center;
   }
   &__icon{
      width: 48px;
      height: 48px;
      background-color: var(--first-color);
      color: var(--white-color);
      border: 4px solid var(--gray-color);
      border-radius: 1rem;
      display: grid;
      place-items: center;
      justify-self: center;
      font-size: 1.5rem;
      margin-bottom: .5rem;
      transition: border-color .4s;
   }
   &__subtitle{
      font-size: var(--h3-font-size);
      margin-bottom: .5rem;
   }
   &__address{
      font-style: initial;
   }
   &__social{
      display: flex;
      justify-content: center;
      column-gap: .75rem;

      &-link{
         font-size: 1.5rem;
         color: var(--first-color);
         transition: transform .4s;

         &:hover{
            transform: translateY(-.25rem);
         }
      }
   }
}
