/*=============== FOOTER ===============*/
.footer{
   padding-block: 3.5rem 2rem;

   &__container{
      row-gap: 2rem;
   }
   &__logo,
   &__links,
   &__social{
      display: flex;
   }
   &__logo{
      align-items: center;
      justify-self: center;
      column-gap: .25rem;
      color: var(--title-color);
      font-size: var(--h1-font-size);
      font-weight: var(--font-semi-bold);
      margin-bottom: 1rem;
      transition: color .4s;

      & i{
         font-weight: initial;
         font-size: 2rem;
         color: var(--first-color);
      }
      &:hover{
         color: var(--first-color);
      }
   }
   &__links{
      justify-content: center;
      column-gap: 3rem;
   }
   &__link{
      font-size: var(--h3-font-size);
      color: var(--title-color);
      transition: color .4s;

      &:hover{
         color: var(--first-color);
      }
   }
   &__social{
      justify-content: center;
      column-gap: 1rem;

      &-link{
         font-size: 1.5rem;
         color: var(--first-color);
         transition: transform .4s;

         &:hover{
            transform: translateY(-.25rem);
         }
      }
   }
   &__copy{
      display: block;
      margin-top: 5.5rem;
      text-align: center;
      font-size: var(--small-font-size);
      color: var(--text-color-light);
   }
}
