/*=============== GALLERY ===============*/
.gallery{
   &__container{
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      grid-template-areas: 'img-1 img-1'
                           'img-2 img-3'
                           'img-2 img-4';
   }
   &__image{
      border-radius: 1.5rem;
      overflow: hidden;
      box-shadow: 0 8px 16px hsla(218, 94%, 45%, .1);

      &:nth-child(1){
         grid-area: img-1;
      }
      &:nth-child(2){
         grid-area: img-2;
      }
      &:nth-child(3){
         grid-area: img-3;
      }
      &:nth-child(4){
         grid-area: img-4;
      }
   }
   &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);
      transition: transform .4s;

      &:hover{
         transform: scale(1.2);
      }
   }
}
