/*=============== HEADER & NAV ===============*/
.header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background: var(--body-color);
   z-index: var(--z-fixed);
   transition: background-color .4s, box-shadow .4s;
}

.nav{
   position: relative;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__logo{
      display: flex;
      align-items: center;
      column-gap: .25rem;
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
      transition: color .4s;

      & i{
         font-weight: initial;
         font-size: 1.5rem;
         color: var(--first-color);
      }
      &:hover{
         color: var(--first-color);
      }
   }
   &__toggle,
   &__close,
   &__theme{
      display: inline-flex;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--title-color);
      transition: color .4s;
   }
   &__buttons{
      display: flex;
      align-items: center;
      column-gap: 1rem;
   }
   // Navigation for mobile devices
   &__menu{
      @media screen and (max-width: 1150px){
         position: fixed;
         top: -120%;
         left: 0;
         width: 100%;
         background-color: var(--body-color);
         box-shadow: 0 4px 16px hsla(218, 68%, 18%, .1);
         padding-block: 5rem;
         transition: top .4s;
      }
   }
   &__list{
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
   }
   &__link{
      font-weight: var(--font-semi-bold);
      color: var(--title-color);
      transition: color .4s;

      &:hover{
         color: var(--first-color);
      }
   }
   &__close{
      position: absolute;
      top: 1rem;
      right: 1.5rem;
   }
}

/* Show menu */
.show-menu{
   top: 0;
}

/* Add shadow header */
.shadow-header{
   box-shadow: 0 2px 16px hsla(218, 68%, 18%, .1);
}

/* Active link */
.active-link{
   color: var(--first-color);
}
