/*=============== PRICES ===============*/
.prices{
   &__container{
      padding-bottom: 4rem;
      row-gap: 3rem;
   }
   &__content{
      display: grid;
      position: relative;
   }
   &__description{
      text-align: center;
   }
   &__card{
      width: 304px;
      background-color: var(--body-color);
      box-shadow: 0 4px 16px hsla(218, 68%, 18%, .2);
      border-radius: 1rem;
   }
   &__heading{
      background-color: var(--first-color);
      padding: 1.5rem 1rem 1rem;
      display: flex;
      justify-content: space-between;
      border-radius: 1rem 1rem 0 0;
   }
   &__number{
      font-size: var(--bigger-font-size);
      color: var(--white-color);
      margin-bottom: .5rem;
   }
   &__title{
      font-size: var(--h3-font-size);
      color: var(--white-color);
      align-self: flex-end;
   }
   &__list{
      display: grid;
      row-gap: .5rem;
      padding: 1.5rem 1rem;
   }
   &__item{
      display: flex;
      column-gap: .25rem;
      font-size: var(--small-font-size);

      & i{
         color: var(--first-color);
         font-size: 1rem;
      }
   }
   &__box{
      display: grid;
      width: 230px;
      height: 100%;
      background: linear-gradient(var(--dark-color), var(--dark-color)), 
                  linear-gradient(225deg, var(--second-color) 0%, var(--dark-color) 25%);
      border: 4px solid transparent;
      background-origin: border-box;
      background-clip: padding-box, border-box;
      position: absolute;
      inset: 0;
      margin-inline: auto;
      border-radius: 1.5rem;
      box-shadow: 0 8px 16px hsla(218, 94%, 45%, .2);
      overflow: hidden;

      &::after{
         content: '';
         width: 64px;
         height: 64px;
         background-color: var(--second-color);
         border-radius: 50%;
         position: absolute;
         top: -.5rem;
         right: -.5rem;
         filter: blur(32px);
      }
   }
   &__details{
      color: var(--white-color);
      font-size: var(--small-font-size);
      text-align: center;
      align-self: flex-end;
      padding-bottom: 1.5rem;
   }
}

/* Swiper class */
.prices .swiper{
   width: 320px;
   overflow: initial;
   padding-block: 2rem 5rem;
}

.prices :is(.swiper-slide-next, .swiper-slide-prev){
   opacity: 0;
   pointer-events: none;
   transition: opacity .4s;
}

.prices .swiper-pagination-bullets.swiper-pagination-horizontal{
   bottom: -4rem;
}

.prices .swiper-pagination-bullet{
   width: 10px;
   height: 10px;
   background-color: var(--gray-color);
   opacity: 1;
   transition: background-color .4s;
}

.prices .swiper-pagination-bullet-active{
   background-color: var(--first-color);
}
